
::-webkit-scrollbar {
    display: none;
}
html, body {
	max-width:100%;
	background-color: #2E294E;
}
html, body, a, #button, td {
	overflow-x:hidden;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:white;
}

body {
	margin:0px;
	padding:0px;

}


#table {
	margin-left:100px;
	margin-right:100px;
	padding-top:100px;
	padding-bottom:50px;
	table-layout:fixed;
}
hr {
	width:100%;
	color:#E0E4E7;
}

#header {
	background-image:url(https://www.itfailed.cf/images/about.jpg);
	background-size:cover;
	background-attachment: fixed;
	padding-top:18%;
	padding-bottom:7%;
}

#header_text {
	font-size:100px;
	padding:0px;
	margin:0px;
	text-align:center;
	color:white;
}

#nav {
	position:fixed;
	background-color:#3b3564;
	width:100%;
	padding-left:20px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	
}

td {
	margin:0px;
	padding:0px;
	align-content: center;
}



#nava {
	text-decoration: none;
	color:white;
	font-size:21px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#nava:hover {
	color:#847979;
}

#navtd {
	margin-top:30px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

#links {
	padding-top:30px;
	text-decoration: none;
}

#alinks:hover {
	color:#5A6F79;


}

#alinks {
	text-decoration: none;
}


.History {
	padding-left: 200px;
	padding-right:200px;
	line-height:30px;
}