
::-webkit-scrollbar {
    display: none;
}
html, body {
	max-width:100%;
	background-color: #2E294E;
}
html, body, a, #button, td {
	overflow-x:hidden;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:white;
}
a {
	font-size:22px;
}
body {
	margin:0px;
	padding:0px;

}
#header {
	background-image:url(https://www.itfailed.cf/images/yt.jpg);
	background-size:cover;
	background-attachment: fixed;
	padding-top:10%;
	padding-bottom:12%;
}

#header_text {
	font-size:100px;
	padding:0px;
	margin:0px;
	text-align:center;
	color:white;
}

#nav {
	position:fixed;
	background-color:#3b3564;
	width:100%;
	padding-left:20px;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	
}

td {
	margin:0px;
	padding:0px;
	align-content: center;
}

#p {
	width:50%;
	 word-wrap:break-word;
} 


#nava {
	text-decoration: none;
	color:white;
	font-weight: bold;
	font-size:21px;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
#nava:hover {
	color:#847979;
}

#navtd {
	margin-top:30px;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}


#links {
	padding-top:30px;
	text-decoration: none;
}

#alinks:hover {
	color:#847979;


}

#alinks {
	text-decoration: none;
}

#table {
	margin-left:100px;
	margin-right:100px;
	padding-top:50px;
	padding-bottom:50px;
	table-layout:fixed;
}