
::-webkit-scrollbar {
    display: none;
}
html, body {
	max-width:100%;
	background-color: #1A2632;
}
html, body, a, #button, td {
	overflow-x:hidden;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:white;
}
a {
	font-size:22px;
}
body {
	margin:0px;
	padding:0px;
	padding-bottom: 200px;

}


#button {
	margin-top:20px;
	margin-bottom:20px;
	padding-right:40px;
	padding-left:40px;
	padding-top:15px;
	padding-bottom:15px;
	background-color:#3377ff;
	color:white;
	border:none;
	}
#button:hover {
	background-color:#1a66ff; 
}
#table {
	margin-left:100px;
	margin-right:100px;
	padding-top:100px;
	padding-bottom:50px;
	table-layout:fixed;
}
hr {
	width:100%;
	color:#E0E4E7;
}

#header {
	background-image:url(http://www.itfailed.cf/images/index.jpg);
	background-size:cover;
	background-attachment: fixed;
	padding-top:15%;
	padding-bottom:15%;
}

#header_text {
	font-size:100px;
	padding:0px;
	margin:0px;
	text-align:center;
	color:white;
}

#nav {
	position:fixed;
	background-color:#233447;
	width:100%;
	padding-left:20px;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	
}

td {
	margin:0px;
	padding:0px;
	align-content: center;
}

#p {
	width:50%;
	 word-wrap:break-word;
} 

#form-elements{
	width:100%;
	padding-bottom: 100px;
	margin-top:40px;
	background-color:#1A2632;
	padding-top:75px;
}
#message {
	padding-left:10px;
	border-radius:20px;
	width:76%;
	height:150px;
	box-align:center;
	font-size:17px;
	padding:0px,0px,0px,0px;
	padding-top:10px;
	border-style: none;
}

#contact_form_send {
	margin-top:25px;
	padding-top:17px;
	padding-right:70px;
	padding-left:70px;
	padding-bottom:17px;
	font-size: 17px;
	border-style: none;
	background-color:#0366B6;
	border-radius: 30px;
	font-weight: bold;
	color:white;
}

#contact_form_send:hover {
	background: #1a66ff;
	color:white;
}

#message:hover, #contact_form_email:hover,#contact_form_name:hover  {
	background: #fff5f5;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#successMessage {
	background-color:#1A2632;
	width:100%;
	color:white;
	font-size:40px;
	margin:0px;
	padding-bottom:100px;
	font-weight: bold;
}


#nava {
	text-decoration: none;
	color:white;
	font-weight: bold;
	font-size:21px;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
#nava:hover {
	text-decoration: underline;
}

#navtd {
	margin-top:30px;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

#links {
	padding-top:30px;
	text-decoration: none;
}

#alinks:hover {
	color:#5A6F79;


}

#alinks {
	text-decoration: none;
}
